<template>
  <router-link :to="link" class="flex link">
    <q-item-section v-if="icon" avatar class="avatar-container">
      <q-icon :name="icon" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
      <q-item-label caption>{{ caption }}</q-item-label>
    </q-item-section>
  </router-link>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "EssentialLink",
  props: {
    title: {
      type: String,
      required: true,
    },

    caption: {
      type: String,
      default: "",
    },

    link: {
      type: String,
      default: "#",
    },

    icon: {
      type: String,
      default: "",
    },
  },
});
</script>
<style scoped>
.link {
  text-decoration: none;
  color: black;
  padding: 15px;
}
.avatar-container {
  min-width: 26px;
}
</style>
