<template>
  <q-form @submit="onSubmit" class="q-gutter-md">
    <q-input
      filled
      v-model="movieLocal.title"
      label="Title *"
      lazy-rules
      :rules="[(val) => (val && val.length > 0) || 'Title cannot be empty']"
    />

    <q-input
      filled
      v-model="movieLocal.director"
      label="Director *"
      lazy-rules
      :rules="[(val) => (val && val.length > 0) || 'Director cannot be empty']"
    />

    <q-input filled v-model="movieLocal.summary" type="textarea" label="Summary" />

    <div>
      <label class="block">Genres</label>
      <q-chip
        :selected="isInGenres(genre)"
        :outline="!isInGenres(genre)"
        @click="toggleGenre(genre)"
        color="primary"
        text-color="white"
        v-for="genre in genresMaster"
        :key="genre"
      >
        {{ genre }}
      </q-chip>
    </div>
    <q-separator inset class="q-mt-lg q-mr-none" />

    <div class="q-gutter-md">
      <q-btn
        label="Cancel"
        type="button"
        color="primary"
        flat
        class="q-ml-sm"
        @click="onCancel"
      />
      <q-btn label="Save" type="submit" color="primary" />
    </div>
  </q-form>
</template>

<script>
import { defineComponent, reactive } from "vue";
import { useMoviesStore } from "src/stores/movie-store";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "MovieForm",
  props: {
    movie: {
      type: Object,
      required: false,
      default: () => {
        return {
          id: null,
          title: "",
          director: "",
          summary: "",
          genres: [],
        };
      },
    },
  },
  emits: ["onSubmit"],
  setup(props, ctx) {
    const router = useRouter();
    const movies = useMoviesStore();
    const movieLocal = reactive(props.movie);
    const genresMaster = movies.genres;

    const isInGenres = (genre) => {
      return movieLocal.genres.includes(genre);
    };
    const toggleGenre = (genre) => {
      const inTheArray = movieLocal.genres.includes(genre);
      if (inTheArray) {
        // remove
        const index = movieLocal.genres.indexOf(genre); // get index of the item
        if (index !== -1) {
          movieLocal.genres.splice(index, 1);
        }
      } else {
        // add
        movieLocal.genres.push(genre);
      }
    };

    const onCancel = () => {
      router.push({ name: "homePage" });
    };
    const onSubmit = () => {
      ctx.emit("onSubmit", movieLocal);
    };

    return {
      isInGenres,
      toggleGenre,
      movieLocal,
      genresMaster,
      onCancel,
      onSubmit,
    };
  },
});
</script>
