<template>
  <q-input bottom-slots v-model="query" :label="label" dense>
    <template v-slot:append>
      <q-icon
        v-if="query !== ''"
        name="close"
        @click="query = ''"
        class="cursor-pointer"
      />
      <q-icon name="search" />
    </template>
  </q-input>
</template>

<script>
import { defineComponent } from "vue";
import { storeToRefs } from "pinia";
import { useMoviesStore } from "src/stores/movie-store";

export default defineComponent({
  name: "SearchField",
  props: {
    label: {
      type: String,
      default: "Search",
    },
  },
  setup() {
    const movies = useMoviesStore();
    const { searchQuery } = storeToRefs(movies);
    return {
      query: searchQuery,
    };
  },
});
</script>
